.Navbar {
  padding: 1%;
}

.h1__Navbar {
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* Animaciones */
  display: block;
  text-align: center;
  white-space: nowrap;
  border-right: 4px solid;
  width: 8ch;
  -webkit-animation: typing 2s steps(8), blink 0.5s infinite step-end alternate;
          animation: typing 2s steps(8), blink 0.5s infinite step-end alternate;
  overflow: hidden;
 text-align: center;

}
  
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

button {
  font-size: 1.2rem;
  transition-delay: 0.2s;
  margin: 1%;
  border: none;

  background: transparent;
  transition-duration: 0.4s;
  text-transform: uppercase;
}

button:hover {
  font-weight: bolder;
  border: 2px solid #0099CC;
  border-radius: 10%;
  background-color: #008CBA;
  color: white;
}

.div__Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}
