* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
}

/* Item component */

.div__Item{
  display: flex;
  flex-direction: row;
  margin: 1%;
  justify-content: center;
}

.title__Item{
  text-transform: capitalize;
}

/* Navbar component */

.h1__Navbar{
  font-size: 2.5rem;
}
.nav__Navbar{
  display: "flex";
  flex-direction: column; 
}

.div__Navbar{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.link__Navbar{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color:gray;
  transition: 0.2s;
}

.link__Navbar:hover{
  font-size: 2rem;
  color: black;
}

/* Item component */
.price__Item{
  font-weight: bolder;
}

/* ItemList */
.div__ItemList{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* ItemDetail */

.div__ItemDetails-category{
  text-transform:uppercase;
}
.div__ItemDetails{
  display: flex;
}

.div__ItemDetails-carousel{
  width: 50%;
}

.div__ItemDetails-info{
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
}